[submodule "NimbusFox.FoxCore/Personal-Newtonsoft.Json"]
	path = NimbusFox.FoxCore/Personal-Newtonsoft.Json
	url = git@gitlab.com:Nimbus-Fox/Personal-Newtonsoft.Json.git
[submodule "NimbusFox.FoxCore/Harmony"]
	path = NimbusFox.FoxCore/Harmony
	url = https://github.com/pardeike/Harmony.git
[submodule "NimbusFox.FoxCore/Personal-Harmony"]
	path = NimbusFox.FoxCore/Personal-Harmony
	url = git@gitlab.com:Nimbus-Fox/Personal-Harmony.git
